@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Notes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script language="JavaScript" type="text/javascript">
        var stat = "unchanged";
        var client_id = '@Configuration["Idp:ClientId"]';
        var session_state = '@Context.Request.Cookies["session_state"]';
        console.log('session_state cookie', session_state);
        var mes = client_id + " " + session_state;
        var targetOrigin = '@Configuration["Idp:Address"]oidc/checksession';
        var authorizationEndpoint = '@Configuration["Idp:Address"]oauth2/authorize';
        function check_session() {
            if (client_id !== null && client_id.length != 0 && client_id !== 'null' && session_state !== null &&
                session_state.length != 0 && session_state != 'null') {
                var win = document.getElementById("opIFrame").contentWindow;
                win.postMessage(mes, targetOrigin);
            }
        }
        function setTimer() {
            check_session();
            setInterval("check_session()", 4 * 1000);
        }
        window.addEventListener("message", receiveMessage, false);
        function receiveMessage(e) {
            console.log(e.origin)
            if (targetOrigin.indexOf(e.origin) < 0) {
                return;
            }
            if (e.data == "changed") {
                console.log("[RP] session state has changed. sending passive request");
                if (authorizationEndpoint !== null && authorizationEndpoint.length != 0 && authorizationEndpoint !==
                    'null') {
                    var clientId = client_id;
                    var scope = 'openid';
                    var responseType = 'code';
                    var redirectUri = 'https://localhost:44378/signin-oidc'
                    var prompt = 'none';
                    window.top.location.href = (authorizationEndpoint + '?client_id=' + clientId + "&scope=" + scope +
                        "&response_type=" + responseType + "&redirect_uri=" + redirectUri + "&code_challenge=VdoOjkg6zmmtE3rOP8xAXOUE1KcZ5-MbTHy4sr3vuR4&code_challenge_method=S256"+ "&prompt=" + prompt);
                }
            }
            else if (e.data == "unchanged") {
                console.log("[RP] session state has not changed");
            }
            else {
                console.log("[RP] error while checking session status");
            }
        }

    </script>
</head>
<body onload="setTimer()">
    <iframe id="opIFrame"
            src="@Configuration["Idp:Address"]oidc/checksession?client_id=@Configuration["Idp:ClientId"]&redirect_uri=https://localhost:44378/signin-oidc"
            frameborder="0" width="0"
            height="0"></iframe>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Notes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MyNotes" asp-action="Index">My Notes</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a target="_blank" class="nav-link text-dark" href="@Configuration["Idp:Address"]myaccount/overview">My Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Info">Tokens</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Notes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
